*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --principal-red:#E3646E;
  --principal-purple:#BB72E9;
  --principal-blue:#3996DB;
  --principal-green:#82BC4F;
  --principal-yellow:#EABD5F;


  --base-gray100:#0D0E11;
  --base-gray200:#16181D;
  --base-gray300:#292C34;
  --base-gray400:#878EA1;
  --base-gray500:#C0C4CE;
  --base-gray600:#E2E4E9;

  --text-asap-lg:3,5rem;
  --text-asap-md:1,5rem;
  --text-asap-sm:1rem;

}

#topo{
  background-image: url(../assets_2/Background_Intro.png);
}

